* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: White;
    border: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 20px
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 500;
    margin-top: 10px;
}
input{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
button{
    margin-top: 20px;
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: blue;
}
#userList{
    margin-top: 20px;
}